.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.generate {
    background-color: white;
    margin-top: 2rem;
}

.generate .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    height: 10vh;
    border: 1px solid lightgray;
    background-color: white;
    width: 95%;
    border-radius: 1.5rem;
    margin: 0 1rem;
}

.generate .assistant-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: black;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.assiss-btn {
    background-color: #c3e11d;
    color: #0b1444;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 0.8rem;
    font-weight: 600;
    padding: 0.9rem 2rem;
    cursor: pointer;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
}

.modal-form-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-form-content input::placeholder{
    text-align: left;
}

.create-workspace-btn {
    background-color: #c3e11d;
    color: #0b1444;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border: none;
    border-radius: 0.8rem;
}

.modal-label {
    font-size: 1.4rem;
    font-weight: 500;
}

.business-info-heading {
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
}

.error-message {
    color: red;
    font-size: 1.2rem;
}

.error-border {
    border-color: red;
}

.no-projects {
    padding: 2rem;
    text-align: center;
    font-size: 1.6rem;
    color: gray;
}

.workspace-input {
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
}
