.folders-files {
  padding: 2rem 3rem;
}

.heading {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.files-container {
  display: flex;
  flex-wrap: wrap;
}

.file {
  margin: 0.5rem;
  font-size: 1.3rem;
  text-align: center;
  padding: 1rem;
  transition: background-color 0.3s;
}

.file:hover {
  background-color: #f0f0f0;
  border-radius: 0.8rem;
}

.icon {
  display: block;
  margin: auto;
  cursor: pointer;
  position: relative;
}

.fs-modal {
  position: fixed;
  top: 50%;
  left: 40%;
  /*transform: translate(-50%, -50%);*/
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  width: 400px;
  z-index: 999;
}

.modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.modal-heading {
  font-size: 2rem;
  margin: 0;
}

.modal-closebtn {
  border: none;
  background-color: lightgray;
  font-size: 2rem;
  padding: 0.5rem;
  display: flex;
  border-radius: 50%;
  cursor: pointer;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.folder-modal-button {
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.switch-btn {
  background-color: #c3e11d;
  color: #0b1444;
}

.delete-btn {
  background-color: red;
  color: white;
}

@media (max-width: 1080px) {
  .folders-files {
    padding: 1.5rem;
  }
  .fs-modal {
    width: 90%;
    max-width: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 600px) {
  // .folders-files {
  //   padding: 1rem;
  // }
  .fs-modal {
    width: calc(100% - 2rem);
    max-width: none;
  }
}
