@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// Imports
@import "./mixins";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  @include respond(tab-port) {
    font-size: 42%;
  }
  @include respond(laptop-small) {
    font-size: 45%; //1 rem = 8px, 8/16 = 50%
  }
  @include respond(laptop) {
    font-size: 50%;
  }
  @include respond(big-desktop) {
    font-size: 55%;
  }
}

// Global loading bar
.app-loading-bar {
  background-color: $color_parentColor;
  height: 3px;
}

// Global loading spinner wrapper
.app-loading-spinner {
  display: flex;
  justify-content: center;
}
