button {
  cursor: pointer;
  letter-spacing: 0.24px;
  transition: 0.3s ease-in-out;
}
.btn-- {
  &primary {
    padding: 1rem 0rem;
    width: 100%;
    background-color: $color_Primary;
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    border: 1px solid $color_Primary;
    border-radius: 0.8rem;

    &:hover {
      color: $color_Primary;
      background-color: white;
    }
  }
  &primary--light {
    padding: 1rem 0rem;
    width: 100%;
    background-color: white;
    color: $color_Primary;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    border: 1px solid white;
    border-radius: 0.8rem;
    // &:hover {
    //   color: $color_Primary;
    //   background-color: white;
    // }
  }
  &secondry {
    padding: 1.2rem;
    font-size: 1.6rem;
    font-weight: 2.4rem;
    font-weight: 500;
    border: 1px solid $border_color--tertiary;
    border-radius: 1.2rem;
  }
  &auth {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    width: 100%;
    background: none;
    padding: 1.2rem 0rem;
    border: 1px solid $border_color--primary;
    color: $color_Secondry;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 0.8rem;
  }
  &toggle {
    padding: 0.8rem 1.2rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    border-radius: 0.8rem;
    border: none;
    background-color: transparent;
    color: $color_Tertiary;
  }
  &toggle--active {
    padding: 0.8rem 1.2rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    border-radius: 0.8rem;
    color: white;
    background-color: $color_BlueDark;
    border: none;
  }
  &back {
    background-color: $bg_gray--ligth;
    border: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: $color_Secondry;
    padding: 1rem;
    & > * {
      &:first-child {
        font-size: 1.8rem;
      }
    }
  }
}
