.ChatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;

  .hero {
    width: 100%;
    color: black;

    nav {
      width: 100%;
      height: 13vh;
      padding: 0 2%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      .LogoWithFileName {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;

        img {
          height: 100%;
          width: 100%;
          border-radius: 30%;
        }

        .ChatInput {
          border: none;
          outline: none;
          padding: 10px 10px;
          font-weight: 500;
          width: 130px;
          border-radius: 10px;
          background-color: rgba(211, 211, 211, 0.282);
          border: 1px solid lightgray;
          color: black;
          font-family: "Poppins";
          margin: 0 10px;
          font-size: 18px;
        }
      }

      ul {
        display: flex;
        align-items: center;
        text-align: right;
        justify-content: right;
        width: 100%;
        border-radius: 10px;
        li {
          display: inline-block;
          list-style: none;
          margin: 10px 0px;
          padding: 8px 5px;
          a {
            color: #fff;
            text-decoration: none;
          }
          .NavLinkContainer {
            position: relative;
            
            .ActiveNavlink {
              background-color: black;
              height: 45px;
              width: 45px;
              padding: 12px 0;
              color: inherit;
              transition: color 0.5s ease;

              border-radius: 10px;
            }

            .NavLinks {
              border-radius: 10px;
              height: 45px;
              width: 45px;
              padding: 12px 0;
              color: inherit;
              transition: color 0.5s ease;
              
            }
            .dropdownContent {
              position: absolute;
              box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
              z-index: 1;
              top: calc(100% + 10px);
              left: 50%;
              transform: translateX(-50%);
              width: auto;

              .subSearchBar {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                padding: 10px;

                input {
                  font-family: "Poppins";
                  width: 100%;
                  height: 40px;
                  border-radius: 8px;
                  outline: none;
                  border: none;
                  padding: 10px;
                  font-size: 25px;
                  font-weight: 600;
                }
              }
              .subSearchBabody {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                padding: 20px;
                background-color: white;
                .subSearchBabodyInput {
                  width: 100%;
                  border: 2px solid black;
                  border-radius: 10px;
                  height: 45px;
                  display: flex;
                  text-align: center;
                  align-items: center;
                  justify-content: space-evenly;
                  padding: 0 10px;

                  .subSearchBaICons {
                    height: 18px;
                    width: 18px;
                    margin-right: 6px;
                    color: lightgray;
                    color: inherit;
                    transition: color 0.5s ease;
                  }
                  .subSearchBaICons:hover {
                    color: gray;
                  }

                  input {
                    font-family: "Poppins";
                    width: 200px;
                    border-radius: 8px;
                    border: none;
                    outline: none;
                    border: none;
                    font-size: 14px;
                    font-weight: 400;
                  }
                }
              }

              .subCommentBar,
              .subBookmark {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                padding: 10px;

                font-size: 24px;
                font-weight: 600;
              }

              .subCommentBarbody,
              .subBookmarkbody {
                padding: 20px;

                .subCommentBarbodyInput,
                .subBookmarkbodyInput {
                  width: 100%;
                  border: 2px solid black;
                  border-radius: 10px;
                  height: 40px;
                  display: flex;
                  text-align: left;
                  align-items: center;
                  justify-content: left;
                  padding: 0 10px;

                  input {
                    font-family: "Poppins";
                    width: 300px;
                    border-radius: 8px;
                    border: none;
                    outline: none;
                    border: none;
                    font-size: 14px;
                    font-weight: 400;
                  }
                }
              }


              .subMenu{
                max-height: 100px;
                background-color: #0b1444;
                border: 1px solid light gray;
                .userInfo{
                    display: flex;
                    align-items: center;
                    h2 {
                      font-weight: 500;
                    }
                    img {
                      width: 15%;
                      border-radius: 50%;
                      margin-right: 15px;
                    }

                }
                hr {
                  border: none;
                  height: 1px;
                  width: 100%;
                  background: #ccc;
                  margin: 15px;
                }
                .submenulink{
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: #0a0a0aad;
                    margin: 20px 0;
                    p {
                      width: 100%;
                    }
                    img {
                      width: 40px;
                      background: #0a0a0a36;
                      border-radius: 50%;
                      padding: 8px;
                      margin-right: 15px;
                    }
                    span {
                      font-size: 22px;
                      transition: transform 0.5s;
                    }


                }
                .submenulink:hover span {
                  transform: translateX(5px);
                }
                .submenulink:hover p {
                  font-weight: 600;
                }

              }
            }
          }
        }
        .share {
          background-color: rgba(10, 10, 10, 1);
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: white;
          height: 44px;
          width: 100px;
          border-radius: 8px;
          margin-left: 10px;
          padding: 10px 20px;
        }
      }

      img {
        width: 40px;
        border-radius: 50%;
        cursor: pointer;
        margin-left: 15px;
      }
    }
  }
}
