// .chat-menu {
//   display: flex;
//   flex-direction: column;
//   height: 100%;
//   width: 60px;
//   margin: 0 2%;
//   position: relative;

  .menu-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    svg {
      cursor: pointer;
      margin: 10px;
      font-size: 22px;
    }
  }

  .menu-content {
    position: absolute;
    right: 60px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
      rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    background-color: white;
    margin-right: 21%;
    -ms-overflow-style: none;
    scrollbar-width: none;

    .menu-content::-webkit-scrollbar {
      display: none;
    }

    .content {
      .VersionHistory {
        p {
          padding: 10px;
          font-size: 14px;
          font-weight: 600;
        }

        .Contianer {
          padding: 5%;
          .MapContainer {
            padding: 2%;
            border-radius: 10px;
            text-align: left;
            .row {
              display: flex;
              align-items: center;
              margin: 1% 0;

              img {
                height: 25px;
                width: 25px;
                border-radius: 15px;
              }
              span {
                margin: 0 2%;
                font-size: 14px;
                color: rgba(0, 0, 0, 0.69);
              }
            }
            &:hover {
              background-color: rgba(211, 211, 211, 0.352);
            }
          }
        }
        button {
          background-color: white;
          padding: 10px;
          border-radius: 8px;
          width: 140px;
          outline: none;
          border: 1px solid gray;
        }
        .historyBtn button:nth-child(2) {
          background-color: rgba(195, 225, 29, 1);
        }
      }

      .Comments {
        background-color: white;
        .heading {
          padding: 10px;
          font-size: 14px;
          font-weight: 600;
        }

        .commentSearch {
          svg {
            font-size: 20px;
          }
          width: 90%;
          border: 1px solid black;
          border-radius: 10px;
          height: 40px;
          display: flex;
          text-align: left;
          align-items: center;
          justify-content: left;
          padding: 0 10px;
          margin: 20px auto;

          input {
            margin-left: 2%;
            height: 100%;
            font-family: "Poppins";
            width: 300px;
            border-radius: 8px;
            border: none;
            outline: none;
            border: none;
            font-size: 14px;
            font-weight: 400;
          }
        }

        .ContentContianer {
          padding: 4%;
          p {
            font-size: 14px;
          }
          .row {
            padding: 2% 0;
            display: flex;
            align-items: center;
            div {
              .MessageUserName {
                display: flex;
                justify-content: space-between;
                svg {
                  font-size: 14px;
                }
                p {
                  font-weight: 600;
                }
              }
              .mentionMsg {
                border-left: 2px solid black;
                background-color: rgba(211, 211, 211, 0.589);
                padding: 1%;
              }
            }
            div {
              padding-left: 10px;
            }
            .inputContianer {
              width: 80%;
              border: 1px solid black;
              border-radius: 10px;
              height: 40px;
              display: flex;
              svg {
                font-size: 30px;
                padding: 0 1%;
              }
              text-align: left;
              align-items: center;
              justify-content: left;
              margin: 20px auto;

              input {
                height: 100%;
                font-family: "Poppins";
                width: 300px;
                border-radius: 8px;
                border: none;
                outline: none;
                border: none;
                font-size: 14px;
                font-weight: 400;
              }
            }
          }
          img {
            height: 25px;
            width: 25px;
            border-radius: 10px;
          }
        }
      }

      .BookMark {
        background-color: white;

        .heading {
          padding: 10px;
          font-size: 14px;
          font-weight: 600;
        }

        .BookMarkSearch {
          svg {
            font-size: 20px;
          }
          width: 90%;
          border: 1px solid black;
          border-radius: 10px;
          height: 40px;
          display: flex;
          text-align: left;
          align-items: center;
          justify-content: left;
          padding: 0 10px;
          margin: 20px auto;

          input {
            margin-left: 2%;
            height: 100%;
            font-family: "Poppins";
            width: 300px;
            border-radius: 8px;
            border: none;
            outline: none;
            border: none;
            font-size: 14px;
            font-weight: 400;
          }
        }

        .BookmarkHeading {
          display: flex;
          align-items: center;
          padding-top: 2%;
          p {
            padding-left: 2%;
            flex: 1;
          }
          img {
            height: 25px;
            width: 25px;
            border-radius: 15px;
          }
        }

        .BookmarkSavedText {
          width: 250px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: flex-end;
          margin-left: auto;
          padding-bottom: 2%;

          p:nth-child(1) {
            margin: 1% 0;
            border: 1px solid gray;
            border-radius: 5px;
            padding: 1%;
          }
          p:nth-child(2) {
            color: rgba(128, 128, 128, 0.663);
            span {
              color: black;
            }
          }
        }
      }

      .Media {
        background-color: white;
        .heading {
          font-size: 14px;
          font-weight: 600;
          padding: 10px;
        }

        .button-content-container {
          .buttons-row {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
            background-color: white;
          }

          .button {
            border: none;
            outline: none;
            background-color: white;
            cursor: pointer;
            transition: background-color 0.3s;
            padding: 6% 0;
            color: gray;

            &:hover {
              color: rgba(0, 0, 0, 0.868);
            }

            &.active {
              border-bottom: 2px solid black;
            }
          }

          .content {
            padding: 10px;
            background-color: #fafafa;
          }
        }

        // Images component
        .images-grid {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 10px;
          padding: 10px;

          .image-container {
            cursor: pointer;
            overflow: hidden;

            &:hover .image {
              transform: scale(1.1);
            }
          }

          .image {
            width: 100%;
            height: auto;
            transition: transform 0.3s ease;
          }
        }

        // Docuemnts component
        .documents {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .document {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            img {
              height: 25px;
              width: 25px;
              padding-right: 2%;
            }

            .document-info {
              flex-grow: 1;
              .document-name {
                font-weight: bold;
              }
            }

            .document-size {
              margin-left: 10px;
              font-size: 0.8rem;
              color: #666;
            }
          }
        }

        // Links component
        .links-container {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .link-item {
            display: flex;
            align-items: center;
          }

          .link-icon {
            width: 40px;
            height: 40px;
            margin-right: 10px;
          }

          .link-details {
            display: flex;
            flex-direction: column;
            .link-name {
              font-weight: bold;
            }

            .link-url {
              color: #007bff;
            }
          }
        }
      }
    }

    button {
      margin: 10px;
    }
  }
// }
