.assessmentChat {
  & > section {
    padding: 1.4rem 2.4rem;
    display: flex;
    gap: 2.8rem;
    & > * {
      &:first-child {
        width: 55rem;
        max-width: 25rem;
      }
      &:nth-child(2) {
        width: 100%;
        // background-color: aqua;
      }
      &:nth-child(3) {
        // width: 67.8rem;
      }
    }
  }
}
