@import './assessmentChat';

.messages-Section {
  > section {
    /* Add your styles here if needed */
  }

  .assessmentPopupContainer {
    width: 426px;
    height: 147px;
    display: flex;
    margin: 0 auto;
    min-height: 70vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    p:nth-child(1) {
      font-family: Poppins, sans-serif;
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: 0.12px;
      color: rgba(10, 10, 10, 1);
    }

    p:nth-child(2) {
      margin: 4% 0;
      font-family: Poppins, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.24px;
      color: rgba(10, 10, 10, 1);
    }

    button {
      font-family: Poppins, sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 23px;
      letter-spacing: 0.1px;
      text-align: center;

      width: 157px;
      height: 43px;
      padding: 10px 16px;
      border-radius: 8px;
      opacity: 1;
      border: none;
      outline: none;
      background: rgba(195, 225, 29, 1);
    }
  }
}
