.node {
  .button-wrapper {
    width: 100%;
    height: 100px;
    display: none;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  :hover {
    .button-wrapper {
      display: flex;
    }
  }
}
